*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif00;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vw;
  background-color: #5943d3;
  animation-name: color-change;
  animation-duration: 85s;
}

@keyframes color-change {
  0% {background-color: #5943d3;}
  5% {background-color: #5f4ad4;}
  10% {background-color: #5694db;}
  15% {background-color: #60b3da;}
  25% {background-color: #6ad6a9;}
  35% {background-color: #65d6a1;}
  45% {background-color: #46ce68;}
  55% {background-color: #19aa19;}
  65% {background-color: #66ce46;}
  75% {background-color: #98d665;}
  80% {background-color: #bfd66a;}
  85% {background-color: #dad260;}
  90% {background-color: #dba156;}
  95% {background-color: #d44f4a;}
  100% {background-color: #5943d3;}

}

.welcome {
  width: 800px;
  max-width: 80%;
  background-color: white;
  color: purple;
  border-radius: 5px;
  margin-top: 0px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}


.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.button {
  border: 5px solid;
  background-color: yellow;
  border-radius: 5px;
  padding: 5px 10px;
  color: purple;
  outline: none;
}

button:hover {
  border-color: black;
}

.start-button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.try-again {
  border: 5px solid;
  background-color: yellow;
  border-radius: 5px;
  padding: 5px 10px;
  color: purple;
  outline: none; 
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bolder;
  padding: 1%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.timer {
  height: 64px;
  width: 115px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 12px;
  border: 3px solid black;
}

#countdown {
  height: 39px;
  width: 93px;
  margin: 7%;
  font-weight: bolder;
  color: white;
  background-color: #5943d3;
  animation-name: color-change;
  animation-duration: 85s;
}

p {
  background-color: white;
  display: inline-flex;
  text-align: center;
  font-size: 17px;
  top: 0px;
  right: 0px;
}

#next-button {
  border: 5px solid;
  background-color: yellow;
  border-radius: 5px;
  padding: 5px 10px;
  color: purple;
  outline: none;
}
